In [12]:
import pandas as pd
import numpy as np
from pathlib import Path

In [20]:
# Read and load School and Student Data files into dataframes

school_Data = pd.read_csv("Resources/schools_complete.csv")
student_Data = pd.read_csv("Resources/students_complete.csv")
 
district_data_df = pd.DataFrame()  
school_Data.head()
student_Data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [21]:
# district summary

# count of Unique school names
unique_schools1 = school_Data["school_name"].unique().size

# total no. of students
totalstudents = school_Data["size"].sum()

# total budget
totalbudget = school_Data["budget"].sum()

# average math and reading score
averagemathscore = student_Data["math_score"].mean()
averagereadingscore = student_Data["reading_score"].mean()


# percentage of students passing math
mathpasscount = len(student_Data[(student_Data["math_score"] >= 70)])
percentagemathpass = (mathpasscount/totalstudents) * 100



# percentage of students passing reading
readingpasscount = len(student_Data[(student_Data["reading_score"] >= 70)])
percentagereadingpass = (readingpasscount/totalstudents) * 100


# percentage of students passing maths and reading
bothpasscount = len(student_Data[(student_Data["reading_score"] > 70) & 
             (student_Data["math_score"]> 70)])
percentagebothpass = bothpasscount/totalstudents * 100




schoolSummary = pd.DataFrame({'Total No. of Unique School': [unique_schools1], 
                              'Total No. of Students': [totalstudents],
                        'Total Budget': [totalbudget], 
                        'Average Math Score': [averagemathscore],
                         'Average Reading Score': [averagereadingscore],
                          '% Passing Math': [percentagemathpass], 
                          '% Passing Reading': [percentagereadingpass],
                           '% Overall Passing':[percentagebothpass]})

#schoolSummary["Total Students"] = schoolSummary["Total Students"].map("{:,}".format)
schoolSummary["Total Budget"] = schoolSummary["Total Budget"].map("${:,.2f}".format)
schoolSummary

print(schoolSummary)

   Total No. of Unique School  Total No. of Students    Total Budget  \
0                          15                  39170  $24,649,428.00

   Average Math Score  Average Reading Score  % Passing Math  \
0           78.985371               81.87784       74.980853

   % Passing Reading  % Overall Passing
0          85.805463          60.801634

# create dataframe with all the Key Metrics for the district Summary:

district_data_df_data = {'Key Metrics':['Total Number of Schools','Total Number of Students'],'Values':[unique_schools1,totalstudents] }
district_data_df = pd.DataFrame(district_data_df_data)
print(district_data_df)
# district_data

In [31]:
# School Summary

school_Data = pd.read_csv("Resources/schools_complete.csv")
school_Data = school_Data.reset_index()
student_Data = pd.read_csv("Resources/students_complete.csv")
student_Data = student_Data.reset_index()
school_data_df = pd.DataFrame()  
  

# Combine the data into a single dataset.  
# school_data_complete = pd.merge(student_Data, school_Data, how="left", on=["school_name", "school_name"])
# school_data_complete.head()

for index, row in school_Data.iterrows():
    SchoolName= (row['school_name'])
    SchoolType= (row['type'])
    SchoolSize = (row['size'])
    SchoolBudget = (row['budget'])
    print (SchoolName)
    print (SchoolType)
    print (SchoolSize)
    print (SchoolBudget)
    print(row['budget']/row['size'])
   

    avgmathschoolscore = student_Data[student_Data['school_name']==SchoolName]['math_score'].sum()/row['size']
    avgreadingchoolscore = student_Data[student_Data['school_name']==SchoolName]['reading_score'].sum()/row['size']
    #print (avgmathschoolscore)
    #print (avgreadingchoolscore)




                                           

#print(school_data_complete.groupby("school_name")

Huang High School
District
2917
1910635
655.0
Figueroa High School
District
2949
1884411
639.0
Shelton High School
Charter
1761
1056600
600.0
Hernandez High School
District
4635
3022020
652.0
Griffin High School
Charter
1468
917500
625.0
Wilson High School
Charter
2283
1319574
578.0
Cabrera High School
Charter
1858
1081356
582.0
Bailey High School
District
4976
3124928
628.0
Holden High School
Charter
427
248087
581.0
Pena High School
Charter
962
585858
609.0
Wright High School
Charter
1800
1049400
583.0
Rodriguez High School
District
3999
2547363
637.0
Johnson High School
District
4761
3094650
650.0
Ford High School
District
2739
1763916
644.0
Thomas High School
Charter
1635
1043130
638.0